In [59]:
import pandas as pd

data_2020 = pd.read_csv('2020_data.csv', low_memory=False)
data_2021 = pd.read_csv('2021_data.csv', low_memory=False)
data_2022 = pd.read_csv('2022_data.csv', low_memory=False)

### Create a new column for the ride total duration

In [60]:
data_2020['started_at'] = data_2020['started_at'].astype('datetime64[ns]')
data_2020['ended_at'] = data_2020['ended_at'].astype('datetime64[ns]')

In [61]:
data_2021['started_at'] = data_2021['started_at'].astype('datetime64[ns]')
data_2021['ended_at'] = data_2021['ended_at'].astype('datetime64[ns]')
data_2022['started_at'] = data_2022['started_at'].astype('datetime64[ns]')
data_2022['ended_at'] = data_2022['ended_at'].astype('datetime64[ns]')

In [62]:
data_2020['ride_total_time'] = (data_2020['ended_at']-data_2020['started_at'])

In [63]:
data_2021['ride_total_time'] = (data_2021['ended_at']-data_2021['started_at'])
data_2022['ride_total_time'] = (data_2022['ended_at']-data_2022['started_at'])

In [64]:
data_2020.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_total_time
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152,41.8964,-87.6610,41.9322,-87.6586,member,0 days 00:26:49
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499,41.9244,-87.7154,41.9306,-87.7238,member,0 days 00:08:09
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255,41.8945,-87.6179,41.8679,-87.6230,member,0 days 00:14:23
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657,41.9030,-87.6975,41.8992,-87.6722,member,0 days 00:12:12
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323,41.8902,-87.6262,41.9695,-87.6547,casual,0 days 00:52:55

In [65]:
data_2021.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_total_time
0,E19E6F1B8D4C42ED,electric_bike,2021-01-23 16:14:19,2021-01-23 16:24:44,California Ave & Cortez St,17660,NaN,NaN,41.900341,-87.696743,41.89,-87.72,member,0 days 00:10:25
1,DC88F20C2C55F27F,electric_bike,2021-01-27 18:43:08,2021-01-27 18:47:12,California Ave & Cortez St,17660,NaN,NaN,41.900333,-87.696707,41.90,-87.69,member,0 days 00:04:04
2,EC45C94683FE3F27,electric_bike,2021-01-21 22:35:54,2021-01-21 22:37:14,California Ave & Cortez St,17660,NaN,NaN,41.900313,-87.696643,41.90,-87.70,member,0 days 00:01:20
3,4FA453A75AE377DB,electric_bike,2021-01-07 13:31:13,2021-01-07 13:42:55,California Ave & Cortez St,17660,NaN,NaN,41.900399,-87.696662,41.92,-87.69,member,0 days 00:11:42
4,BE5E8EB4E7263A0B,electric_bike,2021-01-23 02:24:02,2021-01-23 02:24:45,California Ave & Cortez St,17660,NaN,NaN,41.900326,-87.696697,41.90,-87.70,casual,0 days 00:00:43

In [66]:
data_2022.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_total_time
0,C2F7DD78E82EC875,electric_bike,2022-01-13 11:59:47,2022-01-13 12:02:44,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012800,-87.665906,42.012560,-87.674367,casual,0 days 00:02:57
1,A6CF8980A652D272,electric_bike,2022-01-10 08:41:56,2022-01-10 08:46:17,Glenwood Ave & Touhy Ave,525,Clark St & Touhy Ave,RP-007,42.012763,-87.665967,42.012560,-87.674367,casual,0 days 00:04:21
2,BD0F91DFF741C66D,classic_bike,2022-01-25 04:53:40,2022-01-25 04:58:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800,member,0 days 00:04:21
3,CBB80ED419105406,classic_bike,2022-01-04 00:18:04,2022-01-04 00:33:00,Clark St & Bryn Mawr Ave,KA1504000151,Paulina St & Montrose Ave,TA1309000021,41.983593,-87.669154,41.961507,-87.671387,casual,0 days 00:14:56
4,DDC963BFDDA51EEA,classic_bike,2022-01-20 01:31:10,2022-01-20 01:37:12,Michigan Ave & Jackson Blvd,TA1309000002,State St & Randolph St,TA1305000029,41.877850,-87.624080,41.884621,-87.627834,member,0 days 00:06:02

In [67]:
data_bases = [data_2020, data_2021, data_2022]

#### Get the duration of the ride in hours

In [68]:
for database in data_bases:
    database['ride_total_time_hours'] = database['ride_total_time'] / pd.Timedelta(hours=1)

#### Get the ride weekday

In [69]:
from datetime import datetime
for database in data_bases:
    database['ride_weekday'] = pd.to_datetime(database['started_at']).dt.day_name()
    database['ride_weekday_number'] = database['started_at'].dt.dayofweek

In [70]:
data_2020

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_total_time,ride_total_time_hours,ride_weekday,ride_weekday_number
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152,41.896400,-87.661000,41.932200,-87.658600,member,0 days 00:26:49,0.446944,Sunday,6.0
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499,41.924400,-87.715400,41.930600,-87.723800,member,0 days 00:08:09,0.135833,Friday,4.0
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255,41.894500,-87.617900,41.867900,-87.623000,member,0 days 00:14:23,0.239722,Wednesday,2.0
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657,41.903000,-87.697500,41.899200,-87.672200,member,0 days 00:12:12,0.203333,Tuesday,1.0
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323,41.890200,-87.626200,41.969500,-87.654700,casual,0 days 00:52:55,0.881944,Saturday,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3114792,D17CBEDEA8DBDFF6,electric_bike,2020-12-20 15:48:41,2020-12-20 15:52:14,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836723,-87.613365,41.838723,-87.621854,member,0 days 00:03:33,0.059167,Sunday,6.0
3114793,447A6C67E9AF962E,docked_bike,2020-12-02 16:59:58,2020-12-02 17:08:28,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836208,-87.613533,41.838842,-87.621857,member,0 days 00:08:30,0.141667,Wednesday,2.0
3114794,F558C17E95751C62,electric_bike,2020-12-20 18:06:52,2020-12-20 18:09:53,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836734,-87.613394,41.838749,-87.621862,member,0 days 00:03:01,0.050278,Sunday,6.0
3114795,E1888F4B274EEA12,electric_bike,2020-12-03 09:43:42,2020-12-03 09:47:14,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836766,-87.613366,41.838681,-87.621854,member,0 days 00:03:32,0.058889,Thursday,3.0
3114796,,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN

#### Calculate Distance between End and Start Station

In [71]:
import h3
for database in data_bases:
    database['ride_distance'] = database.apply(lambda row: h3.point_dist((row['start_lat'], row['start_lng']), (row['end_lat'], row['end_lng']), unit='km'), axis=1)

In [72]:
ordered_2020 = data_2020.sort_values(by=['ride_weekday_number'])
ordered_2020

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_total_time,ride_total_time_hours,ride_weekday,ride_weekday_number,ride_distance
680621,500A71A7D63D39CC,docked_bike,2020-07-20 07:50:14,2020-07-20 08:04:19,Clinton St & Jackson Blvd,638,Wood St & Taylor St,317,41.878116,-87.639838,41.869154,-87.671045,member,0 days 00:14:05,0.234722,Monday,0.0,2.769383
596026,CE6D8F7BB7E4B467,docked_bike,2020-06-08 19:51:36,2020-06-08 20:23:41,Clinton St & Lake St,66,Michigan Ave & Washington St,43,41.885637,-87.641823,41.883984,-87.624684,casual,0 days 00:32:05,0.534722,Monday,0.0,1.430682
1458715,4AE5ADD73A29C1FE,docked_bike,2020-08-10 21:53:06,2020-08-10 22:13:06,Halsted St & Dickens Ave,225,Claremont Ave & Hirsch St,159,41.919936,-87.648830,41.907781,-87.685854,casual,0 days 00:20:00,0.333333,Monday,0.0,3.348475
2116544,5E6C306B9B9EB40F,docked_bike,2020-09-07 13:16:46,2020-09-07 13:24:47,Milwaukee Ave & Grand Ave,84,Clinton St & Madison St,77,41.891578,-87.648384,41.882242,-87.641066,member,0 days 00:08:01,0.133611,Monday,0.0,1.201943
1265891,A17D11695FE40690,docked_bike,2020-08-03 08:48:04,2020-08-03 10:00:50,Wabash Ave & 16th St,72,Seeley Ave & Roscoe St,308,41.860384,-87.625813,41.943403,-87.679618,member,0 days 01:12:46,1.212778,Monday,0.0,10.249189
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1728617,CFE3EB4C25265F9C,docked_bike,2020-08-09 17:39:49,2020-08-09 18:01:58,Michigan Ave & Oak St,85,Lakeview Ave & Fullerton Pkwy,313,41.900960,-87.623776,41.925858,-87.638973,member,0 days 00:22:09,0.369167,Sunday,6.0,3.040737
1728620,1243865300B718B1,docked_bike,2020-08-16 17:08:21,2020-08-16 17:12:12,Clark St & North Ave,126,Clark St & Elm St,176,41.911974,-87.631942,41.902973,-87.631280,member,0 days 00:03:51,0.064167,Sunday,6.0,1.002365
1728573,BC9671191155DC37,docked_bike,2020-08-16 12:33:21,2020-08-16 12:43:59,Dusable Harbor,6,Streeter Dr & Grand Ave,35,41.886976,-87.612813,41.892278,-87.612043,casual,0 days 00:10:38,0.177222,Sunday,6.0,0.592992
1557397,D0218DEFB23CA507,docked_bike,2020-08-30 10:23:32,2020-08-30 10:29:01,State St & 33rd St,148,Indiana Ave & 31st St,272,41.834734,-87.625813,41.838842,-87.621857,member,0 days 00:05:29,0.091389,Sunday,6.0,0.562199
3114796,,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN

### Total Rides per Weekdays by User Type

In [73]:
grouped_2020 = ordered_2020.groupby(['ride_weekday', 'member_casual']).count()['ride_id']
grouped_2020

ride_weekday  member_casual
Friday        casual           197020
              member           270552
Monday        casual           136797
              member           230121
Saturday      casual           306323
              member           282272
Sunday        casual           241262
              member           235108
Thursday      casual           157794
              member           267344
Tuesday       casual           132308
              member           245798
Wednesday     casual           146591
              member           265506
Name: ride_id, dtype: int64

In [74]:
grouped_2021 = data_2021.groupby(['ride_weekday', 'member_casual']).count()['ride_id']
grouped_2021

ride_weekday  member_casual
Friday        casual           364080
              member           446428
Monday        casual           286376
              member           416212
Saturday      casual           558000
              member           433047
Sunday        casual           481143
              member           376142
Thursday      casual           286064
              member           451524
Tuesday       casual           274392
              member           465513
Wednesday     casual           278950
              member           477192
Name: ride_id, dtype: int64

In [75]:
grouped_2022 = data_2022.groupby(['ride_weekday', 'member_casual']).count()['ride_id']
grouped_2022

ride_weekday  member_casual
Friday        casual           230642
              member           299746
Monday        casual           204153
              member           316434
Saturday      casual           337335
              member           293806
Sunday        casual           290261
              member           267793
Thursday      casual           214748
              member           340211
Tuesday       casual           196741
              member           353623
Wednesday     casual           196800
              member           345859
Name: ride_id, dtype: int64

### Average Ride Time (in hours) by User Type

In [76]:
grouped_2020 = ordered_2020.groupby(['member_casual']).mean()['ride_total_time_hours']
grouped_2020

C:\Users\joaov\AppData\Local\Temp\ipykernel_10880\331399073.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_2020 = ordered_2020.groupby(['member_casual']).mean()['ride_total_time_hours']

member_casual
casual    0.730172
member    0.192649
Name: ride_total_time_hours, dtype: float64

In [77]:
grouped_2021 = data_2021.groupby(['member_casual']).mean()['ride_total_time_hours']
grouped_2021

C:\Users\joaov\AppData\Local\Temp\ipykernel_10880\262514135.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_2021 = data_2021.groupby(['member_casual']).mean()['ride_total_time_hours']

member_casual
casual    0.533349
member    0.227214
Name: ride_total_time_hours, dtype: float64

In [78]:
grouped_2022 = data_2022.groupby(['member_casual']).mean()['ride_total_time_hours']
grouped_2022

C:\Users\joaov\AppData\Local\Temp\ipykernel_10880\3275241526.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_2022 = data_2022.groupby(['member_casual']).mean()['ride_total_time_hours']

member_casual
casual    0.505886
member    0.218057
Name: ride_total_time_hours, dtype: float64

### Average Distance (Km) per Ride by User Type

In [79]:
grouped_2020 = ordered_2020.groupby(['member_casual']).mean()['ride_distance']
grouped_2020

C:\Users\joaov\AppData\Local\Temp\ipykernel_10880\1240410350.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_2020 = ordered_2020.groupby(['member_casual']).mean()['ride_distance']

member_casual
casual    2.194332
member    2.296940
Name: ride_distance, dtype: float64

In [80]:
grouped_2021 = data_2021.groupby(['member_casual']).mean()['ride_distance']
grouped_2021

C:\Users\joaov\AppData\Local\Temp\ipykernel_10880\1112897013.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_2021 = data_2021.groupby(['member_casual']).mean()['ride_distance']

member_casual
casual    2.259176
member    2.126422
Name: ride_distance, dtype: float64

In [81]:
grouped_2022 = data_2022.groupby(['member_casual']).mean()['ride_distance']
grouped_2022

C:\Users\joaov\AppData\Local\Temp\ipykernel_10880\3701407229.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_2022 = data_2022.groupby(['member_casual']).mean()['ride_distance']

member_casual
casual    2.218852
member    2.132212
Name: ride_distance, dtype: float64

### Get the number of rides on each route (starting station - end station) by user type

In [82]:
grouped_2020 = data_2020.groupby(
    ['member_casual', 'start_station_name', 'end_station_name']).count()['ride_id']
sorted_2020 = grouped_2020.sort_values(ascending=False)
sorted_2020.groupby('member_casual').head(3)

member_casual  start_station_name              end_station_name
casual         Streeter Dr & Grand Ave         Streeter Dr & Grand Ave           5666
               Lake Shore Dr & Monroe St       Lake Shore Dr & Monroe St         5263
               Buckingham Fountain             Buckingham Fountain               4590
member         MLK Jr Dr & 29th St             State St & 33rd St                1053
               Lake Shore Dr & Wellington Ave  Lake Shore Dr & Wellington Ave    1020
               Clark St & Elm St               Clark St & Elm St                  998
Name: ride_id, dtype: int64

In [83]:
grouped_2021 = data_2021.groupby(
    ['member_casual', 'start_station_name', 'end_station_name']).count()['ride_id']
sorted_2021 = grouped_2021.sort_values(ascending=False)
sorted_2021.groupby('member_casual').head(3)

member_casual  start_station_name       end_station_name
casual         Streeter Dr & Grand Ave  Streeter Dr & Grand Ave     11683
               Millennium Park          Millennium Park              6111
               Michigan Ave & Oak St    Michigan Ave & Oak St        5900
member         Ellis Ave & 60th St      Ellis Ave & 55th St          4082
               Ellis Ave & 55th St      Ellis Ave & 60th St          3652
               Ellis Ave & 60th St      University Ave & 57th St     3109
Name: ride_id, dtype: int64

In [84]:
grouped_2022 = data_2022.groupby(
    ['member_casual', 'start_station_name', 'end_station_name']).count()['ride_id']
sorted_2022 = grouped_2022.sort_values(ascending=False)
sorted_2022.groupby('member_casual').head(4)

member_casual  start_station_name                 end_station_name
casual         Streeter Dr & Grand Ave            Streeter Dr & Grand Ave              8314
               DuSable Lake Shore Dr & Monroe St  DuSable Lake Shore Dr & Monroe St    4919
                                                  Streeter Dr & Grand Ave              3738
               Michigan Ave & Oak St              Michigan Ave & Oak St                3676
member         Ellis Ave & 60th St                University Ave & 57th St             3172
               University Ave & 57th St           Ellis Ave & 60th St                  3093
               Ellis Ave & 60th St                Ellis Ave & 55th St                  2811
               Ellis Ave & 55th St                Ellis Ave & 60th St                  2365
Name: ride_id, dtype: int64